# Ignore Dataset
DATASET/

# Ignore large files (>100MB)
model/model5(y5x)/yolov5x_best.pt

# Python ignores
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# VS Code ignores
.vscode/

# PlatformIO ignores
.pio/

# Logs
*.log
aimbot_log.csv
aimbot_log2.csv

# Other
.DS_Store
